<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.gcu.ftp.shared.demo.dao.FileSplitMapper">
  <resultMap id="BaseResultMap" type="com.edu.gcu.ftp.shared.demo.entity.FileSplit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="fileId" jdbcType="VARCHAR" property="fileId" />
    <result column="numbering" jdbcType="INTEGER" property="numbering" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.edu.gcu.ftp.shared.demo.entity.FileSplit">
    <result column="size" jdbcType="LONGVARCHAR" property="size" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, fileId, numbering, updateTime
  </sql>
  <sql id="Blob_Column_List">
    size
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from file_split
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findListByFileId" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from  file_split
    where fileId  = #{fileId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from file_split
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edu.gcu.ftp.shared.demo.entity.FileSplit">
    insert into file_split (id, userId, fileId, 
      numbering, updateTime, size
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{fileId,jdbcType=VARCHAR}, 
      #{numbering,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{size,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edu.gcu.ftp.shared.demo.entity.FileSplit">
    insert into file_split
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="fileId != null">
        fileId,
      </if>
      <if test="numbering != null">
        numbering,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="size != null">
        size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="numbering != null">
        #{numbering,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        #{size,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.gcu.ftp.shared.demo.entity.FileSplit">
    update file_split
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        fileId = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="numbering != null">
        numbering = #{numbering,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.edu.gcu.ftp.shared.demo.entity.FileSplit">
    update file_split
    set userId = #{userId,jdbcType=INTEGER},
      fileId = #{fileId,jdbcType=VARCHAR},
      numbering = #{numbering,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      size = #{size,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.gcu.ftp.shared.demo.entity.FileSplit">
    update file_split
    set userId = #{userId,jdbcType=INTEGER},
      fileId = #{fileId,jdbcType=VARCHAR},
      numbering = #{numbering,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>